*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF5814;
    color: white;
    font: 12px bebas-neue, sans-serif;
    font-style: normal;
}
form{
    font: 12px bebas-neue, sans-serif;
}
.teste-classes{
    color: white;
}
.apresentacao{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 7%;
}
.login__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7%;
}
.consulta__NAP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* fazer um css separado para cada view