.consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7%;
}
.consulta__NAP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}