*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF5814;
    color: white;
    font: 12px bebas-neue, sans-serif;
    font-style: normal;
}
form{
    font: 12px bebas-neue, sans-serif;
}
.consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7%;
}
.consulta__NAP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.botao_consulta{
    display: flex;
    color: black;
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 7%;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
}
.apresentacao__button_consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 35px;
}
