*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF5814;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.consulta{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25%;
    align-content: center;
}
.consulta__NAP{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.consulta-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 300px;
    height: 300px;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    row-gap:15px;
}
.box-consulta{
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 27px;
}
.botao_consulta{
    display: flex;
    align-content: center;
    color: #FF5814;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 0;
    font-size: 14px;
}