*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF5814;
    color: white;
       /* fonte poppins */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
form{
        /* fonte poppins */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.titulo_home{
    color: white;
    font-size: 24px;
}
.apresentacao{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 7%;
}
.login__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 30%;
}
.botao{
    display: flex;
    color: white;
    background-color: #FF5814;
    width: 80px;
    height: 40px;
    border-radius: 7%;
    justify-content: center;;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    color: #FF5814;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}