*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF5814;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.titulo_consulta{
    display: flex;
    justify-content: center;
    margin: 10%;
    color: white;
    font-size: 24px;
}
.login__conteudo{
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px 30px;
}
.titulo_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
}
.botao_localizar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FF5814;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    width: 115px;
    height: 30px;
    border-radius: 15px;
}
.botao_atualizar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FF5814;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    width: 115px;
    height: 30px;
    border-radius: 15px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 10px;
    font-size: 14px;
}