<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/consulta_nap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta NAP</title>
</head>
<body>
    <header></header>
    <main class="consulta">
        <section class="consulta__NAP">
            <h2 class="cabecalho">CONSULTA NAP</h2>
            <br>
            <form class="consulta-box" action="#" method="post">
                <label for="city">Cidade</label>
                <input type="text" id="city" name="city" required placeholder="Digite a cidade">
                <br><br>
                <label for="nap">Nº da NAP:</label>
                <input type="text" id="nap" name="nap" required placeholder="Digite o número da NAP">
                <br><br>
                <button type="submit">Consultar</button>
            </form>
        </section>
    </main>
</body>
</html>