<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <link rel="stylesheet" href="../css/consulta_nap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta NAP</title>
</head>
<body>
    <header></header>
    <main class="consulta">
         <h2 class="cabecalho">CONSULTA NAP</h2>
        <section class="consulta__NAP">
            <br>
            <form class="consulta-box" action="#" method="post">
                <label for="city">Cidade</label>
                <input type="text" id="city" name="city" required placeholder="Digite a cidade">
                <br><br>
                <label for="nap">Nº da NAP:</label>
                <input type="text" id="nap" name="nap" required placeholder="Digite o número da NAP">
                <br><br>
                <div class="apresentacao__button_consulta">
                    <a class="botao_consulta" href="https://site.sulnet.com.br/">Consultar</a>
                    <!--<button type="submit">Consultar</button>-->
                </div>
            </form>
        </section>
    </main>
</body>
</html>