<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <link rel="stylesheet" href="../css/relacao_nap.css">
    <link rel="stylesheet" href="../css/components.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relação-NAP</title>
</head>
<body>
        <h2 class="titulo_consulta">CONSULTA NAP</h2>
    <main class="relacao">
                <section>
                        <div class="pesquisar_localizar"> 
                            <div class="botoes_acao">   
                                <h3>LOCALIZAÇÃO NAP:</h3>
                                    <a class="botao_localizar" href="https://site.sulnet.com.br/">LOCALIZAR</a>
                            </div>
                            <br>
                            <div class="botoes_acao">
                                <h3>RELAÇÃO CLIENTES:</h3>
                                    <a class="botao_atualizar" href="https://site.sulnet.com.br/">ATUALIZAR</a>
                            </div>
                        </div>
                </section>
                <div class="client-list-container">
                    <ul class="client-list">
                        <li class="client-item">
                            <span class="client-name">CARMEM S.B.</span>
                            <span class="client-status online">ONLINE</span>
                            <button class="details-button">
                                <img src="../assets/detalhe.png">
                            </button>
                        </li>
                        <li class="client-item">
                            <span class="client-name">CARMEM S.B.</span>
                            <span class="client-status online">ONLINE</span>
                            <button class="details-button">
                                <img src="../assets/detalhe.png">
                            </button>
                        </li>
                        <li class="client-item">
                            <span class="client-name">CARMEM S.B.</span>
                            <span class="client-status offline">OFFLINE</span>
                            <button class="details-button">
                                <img src="../assets/detalhe.png">
                            </button>
                        </li>
                        <li class="client-item">
                            <span class="client-name">CARMEM S.B.</span>
                            <span class="client-status online">ONLINE</span>
                            <button class="details-button">
                                <img src="../assets/detalhe.png">
                            </button>
                        </li>
                    </ul>
                </div>
    </main>
    <div data-include-html="../components/nav.html"></div>
    <div data-include-html="../components/footer.html"></div>
    <script src="../js/component-loader.js"></script>
</body>
</html>  